<div id="title">
  <h1 style="display: inline-block;">(´∇｀)みたいなSearch</h1>
  <span>イライラを解消する<%= fa_icon('bolt 2x muted') %></span>
</div>

<div id="user_information">
  <%= link_to 'ログインはこちらから', :login %>
</div>

<hr>

<div class="contentLeft">
  <% if @comments.present? %>
  <ul>
    <% @comments.each_with_index do |comment, index| %>
    <li style="margin: 10px auto;">
      <%= comment.sentence %>
      Count
      <span class="btn btn-info">いいね！</span>
      |
      Count
      <span class="btn btn-danger">くそだね！</span>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="contentRight">
  <%= image_tag("are_you_gorira.jpg") %>
  <span class="balloon">登録はこちらから！</span>
</div>

<div id="contentRank">
  <br>
  <hr>
  <div id="mitainaRank">
    <h3 class="titleRank">みたいなランク</h3>
    <ul class="content">
    <% Comment.rank.each do |key, value| %>
      <li><%= truncate(key, length: 15, omission: "...") %> : <%= value %></li>
    <% end %>
    </ul>
  </div>

  <div id="kusodaneRank">
    <h3 class="titleRank">くそだねランク</h3>
    <ul class="content">
      <% Evaluation.preload(:comment).where(status: 2).order(created_at: :desc).limit(10).each do |evaluation| %>
      <li><%#= truncate(evaluation.comment.sentence, length: 15, omission: "...") %></li>
      <% end %>
    </ul>
  </div>

  <div id="iineRank">
    <h3 class="titleRank">いいねランク</h3>
    <ul class="content">
      <% Evaluation.preload(:comment).where(status: 1).order(created_at: :desc).limit(10).each do |evaluation| %>
      <li><%#= truncate(evaluation.comment.sentence, length: 15, omission: "...") %></li>
      <% end %>
    </ul>
  </div>
</div>
