<h1 style="display: inline-block;">みたいなSearch</h1>
<span>イライラを解消する<%= fa_icon('bolt 2x muted') %></span>
<%= flash_messages %>

<% if @comment.errors.present? %>
<ul class="error_messge">
  <% @comment.errors.full_messages.each do |error| %>
    <li>※<%= error %></li>
  <% end %>
</ul>
<% end %>

<ul class="comment_form">
  <%= form_for @comment, { url: :top_index } do |f| %>
  <li><%= f.label :sentence %></li>
  <li><%= f.text_field :sentence %></li>
  <li><%= f.submit "ミタイナ" , class: "btn btn-warning" %></li>
  <% end %>
</ul>

<% @comments = Comment.includes(:evaluations).select('id, sentence').limit(20).order("id desc") %>

<% if @comments.present? %>
<ul>
  <% @comments.each_with_index do |comment, index| %>
  <li class="all_evaluation" style="margin: 10px auto;">
    <%= comment.sentence %>
    <%= content_tag(:span, '', :class => "evaluation_count good_#{index}", :data => { :user_id => 1, :comment_id => comment.id, :count => comment.total_evaluation(1) } ) %>Count
    <span class="btn btn-info evaluation_button" data-evaluation="good">いいね！</span>
    |
    <%= content_tag(:span, '', :class => "evaluation_count bad_#{index}", :data => { :user_id => 1, :comment_id => comment.id, :count => comment.total_evaluation(2) } ) %>Count
    <span class="btn btn-danger evaluation_button" data-evaluation="bad">くそだね！</span>
  </li>
  <% end %>
</ul>
<% end %>

<h3>みたいなランク</h3>
<p>つぶやきが多かった<みたいな>のランク</p>
<ul>
<% Comment.rank.each do |key, value| %>
  <li><%= key %> : <%= value %></li>
<% end %>
</ul>

<h3>くそだねランク</h3>

<h3>いいねランク</h3>
