<h3>ログインして下さい。</h3>
<h1><%= @title %></h1>

<%= flash_messages %>

<%= form_for @form, url: :session do |f| %>
  <div>
    <%= f.label :display_name, 'ID' %>
    <%= f.text_field :display_name %>
  </div>
  <div>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit 'ログイン' %>
  </div>
<% end %>
